body {
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 30px;
  text-align: center;
  -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
  -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
  -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
  background-color:#a7f5b6;
  background-image:linear-gradient(top, #43b759 0%, #a7f5b6 51%);
  background-image:-webkit-linear-gradient(top, #43b759 0%, #a7f5b6 51%);
  background-image:-ms-linear-gradient(top, #43b759 0%, #a7f5b6 51%);
  background-image:-webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, #43b759),
        color-stop(0.51, #a7f5b6)
    );
    background-attachment:fixed;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
  color: white;
  padding:0px;
  margin:0px;
}

#titleBox {
  position: absolute;
  left:0px;
  top:0px;
  width:100%;
    font-family: "Lucida Console", Monaco, monospace;
  font-size: 30px;
  text-align: center;
  -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
  -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
  -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
  background-color:#318841;
  background-image:-webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, #9ff8b0),
        color-stop(0.09, #318841)
    );
    background-attachment:fixed;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-weight:bold;
    text-transform:uppercase;
}

#gameBox {
  display:inline-block;
  text-align:center;
  background-color: white;
  margin-top:55px;
  margin-left:auto;
  margin-right:auto;
  width:250px;
  height:250px;
  border-radius:15px;
  padding:15px;
  padding-right:20px;
  padding-bottom:37px;
}

#color1{
  position: relative;
  border-radius:15px;
  margin-bottom:15px;
  float:left;
  height:50%;
  width:45%;
}

#color2{
  position: relative;
  border-radius:15px;
  margin-bottom:15px;
  margin-left:3px;
  float:right;
  height:50%;
  width:45%;
}

#color3{
  position: relative;
  margin-bottom:15px;
  border-radius:15px;
  float:left;
  height:50%;
  width:45%;
}

#color4{
  position: relative;
  margin-bottom:15px;
  border-radius:15px;
  margin-left:3px;
  float:right;
  height:50%;
  width:45%;
}

#goal{
  position:relative;
  margin-top:15px;
  margin-left:auto;
  margin-right:auto;
  width: 250px;
  height: 55px;
  background-color: white;
  color: black;
  border-radius:15px;
  font-size: 20px;
  padding-top:15px;
}
