.shine {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.7)), color-stop(100%,rgba(255,255,255,0.2))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(255,255,255,0.7) 0%,rgba(255,255,255,0.2) 100%); /* Chrome10+,Safari5.1+ */
    height: 55%;
    width: 100%;
    box-shadow: inset 0px 2px 1px rgba(255, 255, 255, 0.7);
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 100px 40px;
    border-bottom-left-radius: 100px 40px;
}

body {
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 30px;
  text-align: center;
  -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
  -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
  -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
  background-color:#001024;
  background-image:linear-gradient(top, #001024 0%, #013980 51%);
  background-image:-webkit-linear-gradient(top, #001024 0%, #013980 51%);
  background-image:-ms-linear-gradient(top, #001024 0%, #013980 51%);
  background-image:-webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, #001024),
        color-stop(0.51, #013980)
    );
    background-attachment:fixed;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
  color: white;
  padding:0px;
  margin:0px;
}

#titleBox {
  position: absolute;
  left:0px;
  top:0px;
  width:100%;
    font-family: "Lucida Console", Monaco, monospace;
  font-size: 30px;
  text-align: center;
  -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
  -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
  -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
  background-color:#318841;
  background-image:-webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, #013980),
        color-stop(0.09, #00132c)
    );
    background-attachment:fixed;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-weight:bold;
    text-transform:uppercase;
}

#gameBox {
  display:inline-block;
  text-align:center;
  background-color: white;
  margin-top:55px;
  margin-left:auto;
  margin-right:auto;
  width:250px;
  height:250px;
  border-radius:15px;
  padding:15px;
  padding-right:20px;
  padding-bottom:37px;
}

#color1{
-webkit-box-shadow: 0px 4px 6px rgba(0, 0, 0, 1.5);
  position: relative;
  border-radius:15px;
  margin-bottom:15px;
  float:left;
  height:50%;
  width:45%;
}

#color2{
-webkit-box-shadow: 0px 4px 6px rgba(0, 0, 0, 1.5);
  position: relative;
  border-radius:15px;
  margin-bottom:15px;
  margin-left:3px;
  float:right;
  height:50%;
  width:45%;
}

#color3{
-webkit-box-shadow: 0px 4px 6px rgba(0, 0, 0, 1.5);
  position: relative;
  margin-bottom:15px;
  border-radius:15px;
  float:left;
  height:50%;
  width:45%;
}

#color4{
-webkit-box-shadow: 0px 4px 6px rgba(0, 0, 0, 1.5);
  position: relative;
  margin-bottom:15px;
  border-radius:15px;
  margin-left:3px;
  float:right;
  height:50%;
  width:45%;
}

#goal{
  position:relative;
  margin-top:15px;
  margin-left:auto;
  margin-right:auto;
  width: 250px;
  height: 55px;
  background-color: white;
  color: black;
  border-radius:15px;
  font-size: 20px;
  padding-top:15px;
}
